#main{
    text-align: center;
    font-size: 400%;
    font-weight: bold;
    font-style: oblique;
    
}
p{
    color: rgb(10, 172, 236);
    font-weight:bold ;
    text-transform: lowercase;
    line-height: 1.5em;

}
#bold{
    font-size: 200%;
}
*{
    background-color: rgb(250, 196, 129);
}